/* work sens font from google font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&display=swap');


  *{
    font-family: 'Work Sans', sans-serif; 
  }
 
  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
  }
  .text-light-gray{
    color: #727272;
  }
  .section-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
  }

  /* header styles */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav>ul{
    display: flex;
  }
  nav li{
    list-style: none;
    font-size: 1rem;
    margin-right: 30px;
    font-weight: 500;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }
  .nav-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
  }
  .banner-con{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .banner-title{
    color:#131313;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
  }
  
  .banner img{
    width: 100%;
    margin-top: 20px;
  }

  /* main Styles */
  main{
    max-width: 1440px;
    margin: 70px auto;
  }

  /* teams styles */
  .teams-con{
    display: flex;
    align-items: center;
    
  }
  .teams-content{
    padding: 0 70px;
  }
  .teams-img-con{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.4rem;
    text-align: center;
  }
  .teams-title{
    font-size: 2.5rem;
  }
  .teams-title .quick-list{
    font-weight: 500;
  }
.teams-title .feature{
    color: #FF900E;
    font-weight: 700;
  }




   /* responsive media queries */
  /* mobile devices */
  @media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .banner-title{
      
      font-size: 3rem; 
    }
    nav,.teams-con{
        flex-direction: column;
    }
    .teams-img-con{
        grid-template-columns: 1fr;
      }
    .teams-img-con img{
        width: 100%;
    }  
    .teams-content{
      padding: 0 20px;
    }
  }
  /* medium or tablet devices  */
  @media screen and (min-width:577px) and (max-width:960px){
    header{
        padding: 50px;
    }
    nav,.teams-con{
        flex-direction: column;
    }
    .teams-img-con{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    } 
    .teams-img-con img{
      width: 48%;
    }
 
  }