/* work sens font from google font */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,800&display=swap');


  *{
    font-family: 'Work Sans', sans-serif; 
  }
 
  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
  }
  .text-light-gray{
    color: #727272;
  }
  .section-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
  }

  /* header styles */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav>ul{
    display: flex;
  }
  nav li{
    list-style: none;
    font-size: 1rem;
    margin-right: 30px;
    font-weight: 500;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }
  .nav-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
  }
  .banner-con{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .banner-title{
    color:#131313;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
  }
  
  .banner img{
    width: 100%;
    margin-top: 20px;
  }

  /* main Styles */
  main{
    max-width: 1440px;
    margin: 70px auto;
  }

  /* teams styles */
  .teams-con{
    display: flex;
    align-items: center;
    
  }
  .teams-content{
    padding: 0 70px;
  }
  .teams-img-con{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.4rem;
    text-align: center;
  }
  .teams-title{
    font-size: 2.5rem;
  }
  .teams-title .quick-list{
    font-weight: 500;
  }
  .teams-title .feature{
    color: #FF900E;
    font-weight: 700;
  }

  /* features section styles */
  .feature{
    display: flex;
    margin-top: 130px;
    gap:100px;
  }
  .feature-con .card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
  }
  .feature .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
  }
  .feature-img img{
    height: 90%;
    margin-left: 70px;
  }
  .ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px 30px;
    text-align: center;
    position: relative;
    bottom: 100px;
  }
  .ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
  }
  .ten-years-badge p{
    font-size: 1.5rem;
    margin: 0;
  }
  /* facts section */

  .facts-card-con{
    display: flex;
    justify-content: space-around;
  }
  .facts-card-con .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-size: 2.5rem;
    padding: 30px;
  }
  .facts-card-con .card-stat{
    font-size: 2.5rem;
    color: #424242;
    margin: 10px 0;
  }
  .facts-card-con .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
  }
   /*sponsors styles */
  .sponsors{
    text-align: center;
  }
  .sponsor-img-con{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    align-items: center;
  }
  .sponsor-img-con img{
    width: 165px;
  }
  footer{
    border-radius: 8px;
    background: #FFF4E7;
    margin: 240px;
    text-align: center;
    padding: 40px 0;
  }

  /* responsive media queries */
  /* mobile devices */
  @media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .banner-title{
      
      font-size: 3rem; 
    }
    nav,
    .teams-con,
    .facts-card-con,
    .sponsor-img-con,
    .feature{
        flex-direction: column;
    }
    .teams-img-con{
        grid-template-columns: 1fr;
      }
    .teams-img-con img{
        width: 100%;
    }  
    .teams-content,.facts-card-con{
      padding: 0 20px;
    }
    .feature-img img{
      width: 90%;
      margin-left: 0;
    }
    .ten-years-badge{
      position: static;
      width: 250px;
    }
    .ten-years-badge h2{
      font-size: 3rem;
    }
    .facts-card-con{
      gap:20px
    }
    footer{
      margin: 10px;
      padding: 10px 0;
    }
  }
  
  /* medium or tablet devices  */
  @media screen and (min-width:577px) and (max-width:960px){
    header{
        padding: 50px;
    }
    nav,
    .teams-con,
    .sponsor-img-con,
    .feature{
        flex-direction: column;
    }
    .teams-img-con{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    } 
    .teams-img-con img{
      width: 48%;
    }
    .facts-card-con .card{
      width: 35%;
    }
    .facts-card-con{
      display: flex;
      flex-wrap: wrap;
      gap:20px
    }
    footer{
      margin: 40px;
      padding: 20px 0;
    }
 
  }